<p><b>Name:</b> <%= @content_block.name %></p>
<p><b>News Name:</b> <%= @content_block.news_name %></p>
<p><b>News Description:</b> <%= @content_block.news_description %></p>
<p><b>Event Title:</b> <%= @content_block.event_title %></p>
<p><b>Event Description:</b> <%= @content_block.event_description %></p>
<p><b>Event Starts On:</b> <%= @content_block.event_starts_on %></p>
<p><b>Event Ends On:</b> <%= @content_block.event_ends_on %></p>
