
<p><b>Name:</b> <%= @content_block.name %></p>
<p><b>Address1:</b> <%= @content_block.address1 %></p>
<p><b>Address2:</b> <%= @content_block.address2 %></p>
<p><b>City:</b> <%= @content_block.city %></p>
<p><b>State:</b> <%= @content_block.state %></p>
<p><b>Country:</b> <%= @content_block.country %></p>
<p><b>Zipcode:</b> <%= @content_block.zipcode %></p>
